header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('http://tyrolium.fr/Contenu/Image/Background6.png');
  background-position: center;
  background-size: cover;
  padding: 20px;
  color: white;
}
header nav {
  display: flex;
  justify-content: space-between;
}
header nav img {
  height: 50px;
  width: auto;
}
header nav ul {
  display: flex;
}
header nav ul li {
  margin-left: 20px;
  color: white;
}
header h1 {
  text-align: center;
  padding-top: 150px;
  text-transform: none;
  font-size: 4rem;
  letter-spacing: 5px;
}
header h8{
  text-align: center;
  padding-top: 150px;
  text-transform: none;
}
header .btn{
  margin-bottom: 80px;
}

.navbar .navbar-toggler:focus {
  box-shadow: none;
}
.navbar .navbar-toggler-icon {
  background: white;
  width: 40px;
  height: 2px;
  position: relative;
  display: inline-block;
  transition: all 0.3s ease;
}
.navbar .navbar-toggler-icon::before,
.navbar .navbar-toggler-icon::after {
  content: "";
  background: white;
  width: 40px;
  height: 2px;
  position: absolute;
  left: 0px;
  transition: all 0.3s ease;
}
.navbar .navbar-toggler-icon::before {
  top: -10px;
}
.navbar .navbar-toggler-icon::after {
  top: 10px;
}

.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background: transparent;
}
.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::before {
  top: 0px;
  transform: rotate(45deg);
}
.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::after {
  top: 0px;
  transform: rotate(-45deg);
}
@media (max-width: 991px) {
  ul.navbar-nav {
    background: black;
    padding-bottom: 30px;
  }
  ul.navbar-nav li {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 25px;
    margin-top: 30px;
  }
}

#objectif h2 {
  margin-top: 60px;
  color:  white;
}
#objectif ul {
  padding: 50px 0;
  display: flex;
  text-align: center;
  justify-content: space-between;

}
#objectif ul li {
  margin: 10px;
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.3);
  padding: 20px;
}
#objectif ul li h3{
  font-weight: bold;
  padding: 20px;
}

#objectif img.imgObj{
  width: 50px;
  height: 50px;
}

#comment {
  background: linear-gradient(#5e81ff, #002261);
  padding: 50px 0;
  color: white;
}

#comment ul {
  padding: 0;
}

#comment ul li {
  text-align: center;
  margin: 80px auto;
}

#comment a:hover{
  color: white;
}

iframe#form{
  border: none;
}

.container {
  max-width: 1060px;
  margin-left: auto;
  margin-right: auto;
}
#download{
  display: flex;
  margin-bottom: 100px;
}

#download div:first-of-type{
  background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("http://tyrolium.fr/Contenu/Image/TyroliumSwordBackground.png");
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
}

#download div:last-of-type{
  background-image:  linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("http://tyrolium.fr/Contenu/Image/RhodoniteSwordBackground.png");
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
}

#download div {
  width: 50%;
  text-align: center;
  padding: 80px 20px;
  color: white;
  background-size: cover;
  background-position: center;
}

#download div h2{
  text-transform: uppercase;
}

@media(max-width: 767px) {
  #download {
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;

    box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
  }
  #download div{
    width: 80%;
  }
}

#nosreseau h2 {
  margin-top: 60px;
  color:  white;
}
#nosreseau ul {
  padding: 50px 0;
  display: flex;
  text-align: center;
  justify-content: space-between;

}
#nosreseau ul li {
  background: linear-gradient(#5e81ff, #002261);
  margin: 10px;
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.3);
  padding: 20px;
}

#nosreseau ul li#discord {
  background: linear-gradient(#ff5e5e, #970000);
  padding-top: 30px;
  padding-bottom: 30px;
}
#nosreseau ul li h3{
  font-weight: bold;
  padding: 20px;
}

#nosreseau img.imgRe{
  width: 50px;
  height: 50px;
}

#nosreseau a:hover{
  color: white;
}

footer {
  background-color: black;
  border-top: 10px solid;
  border-color: blue;
  margin-top: 50px;
  padding: 20px 0 40px;
}
footer span{
  text-align: center;
}
footer img {
  width: 70px;
}

footer a:hover{
  color: white;
}
